.btn1 {
  background-color: #797dfc;
  border-radius: 46px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.mulish{
    font-family: "Mulish", sans-serif;

  }

  
  .inter{
    font-family: "Inter", sans-serif;
  
   
    font-style: normal;
  }

  .color1{
    color: #12132D;
    
  }